<%- include('header'); -%>


<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id culpa excepturi corporis quasi maiores vel quas ipsa est voluptate repellat facilis fugit a, quam pariatur necessitatibus autem ipsam illum ex.</p>

<%- include('footer'); -%>